#sideNav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    padding-left: 40px;
    width: 400px;
    box-shadow: 1px 1px 9px rgba(165, 165, 165, 0.75);
    #title {
        margin-top: 20px;
    }
    #nav {
        margin-top: 35px;
        a {
            color: #666;
            cursor: pointer;
            &:hover {
                color: #444;
            }
        }
        .nav-link.active {
            color: #222;
        }
    }
    ul ul {
        padding-left: 30px;
    }
}