<div id="sideNav">
    <div id="title">
        <a href="https://www.angular.cn/" target="_blank"><img src="../assets/img/angular.svg" width='55' height=""></a>Angular6 官网学习例子
    </div>
    <ul class="nav flex-column" id="nav">
        <li class="nav-item">
            <a class="nav-link active" role="button" aria-controls="componentAndTemplates" [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed">
              组件与模板
            </a>
            <ul class="collapse show" id="componentAndTemplates" [collapse]="isCollapsed">
                <li class="nav-item"><a class="nav-link active">显示数据</a></li>
                <li class="nav-item"><a class="nav-link">模板语法</a></li>
                <li class="nav-item"><a class="nav-link">生命周期钩子</a></li>
                <li class="nav-item"><a class="nav-link">组件交互</a></li>
                <li class="nav-item"><a class="nav-link">组件样式</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#123">Forms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Observables&rxjs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">bootstrapping</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">NgModules</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">dependencyInjection</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">httpclient</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">routing&navigation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">testing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">cheatSheet</a>
        </li>
    </ul>
</div>
<div id="section">

</div>